.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: .5em 0;
  &:hover {
    .btn_del {
      opacity: 1;
    }
  }
  .btn_del {
    opacity: 0;
  }
}