.todo_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  padding: .5em 0;
}

.todo_item:hover .btn_del {
  opacity: 1;
}

.todo_item .btn_del {
  opacity: 0;
}
