.todo_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

.todo_header .todo_input {
  border-radius: .25rem;
  width: 400px;
  border: 1px solid #ccc;
  padding: 0.25rem;
}

.todo_header .todo_input:focus, .todo_header .todo_input:active {
  border-color: #222;
  outline: none;
}
